<?xml version="1.0" encoding="utf-8"?>
<manifest package="io.github.adsuper.mytext1"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme2">
        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/SwipeBackLayoutActivity_style">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".swipebackhelper_text.SwipeBackLayoutActivity"/>
        <activity android:name=".ui.Main22Activity">
        </activity>
        <activity android:name=".ui.CollapsingToolbarLayoutActivity"
            >
        </activity>
        <activity android:name=".statebarandnavigationbar.StatesBarAndNavigationBarActivity">
        </activity>
        <activity android:name=".statebarandnavigationbar.ColorBarActivity"/>
        <activity android:name=".statebarandnavigationbar.DrawerActivity"/>
        <activity android:name=".statebarandnavigationbar.HintBarActivity1"/>
        <activity android:name=".statebarandnavigationbar.ImmersionBarActivity"/>
        <activity android:name=".statebarandnavigationbar.TransparentBarActivity1"/>
        <activity android:name=".statebarandnavigationbar.TransparentBarActivity2"/>
        <activity android:name=".statebarandnavigationbar.HintBarActivity2"/>
        <activity android:name=".webview.WebViewActivity">
        </activity>
    </application>

</manifest>